/* basic styling */
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    font-size: 18px;
    font-family: serif;
}

h1 {
    font-size: 2em;
}
/* flexboxes the stats, scene, and inv */
.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 75%;
    margin: 0;
    border: .5px solid black;
}

/* sets the stats container on the left */
#statBar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 15%;
    height: 100%;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    margin-left: 1%;
}

/* sets main scene and image */
#sceneContainer {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url();
    background-size: 100% 100%;
}

/* sets textbox */
#textContainer{
    width: 95%;
    height: 35%;
    display: block;
    /* placeholder textbox */
    background-image:url(./assets/textbackground.png);
    background-size: 100% 100%;
    padding-left: 5%
}

/* sets the inv to the right side of the screen */
#inv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    height: 100%;
    overflow: auto;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

/* creates the action bar at the bottom of the page */
#actions {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    border-top: 1px solid black;
}

/* set a box for items in the inventory */
.item {
    width: 90%;
    min-height: 200px;
    border: .5px solid black;
    border-radius: 10px;
    margin: 15px;
    display: block;
}

/* sets proper alignment and size for name */
.item >h1 {
    font-size: 1.2em;
    text-align: center;
}

/* stores item data */
.item > ul {
    display: block;
    list-style: none;
    margin-left: -10%;
    margin-right: 10%;
}

/* setting description size */
.item > ul > li {
    display: flex;
    width: 95%;
    font-size: 1em;
    padding-bottom: 10px;
    justify-content: space-between;
}

/* button styling for action panel */
#actions > button {
    width: 20%;
    height: 50%;
    border-radius: 10px;
    font-size: 1.5em;
}

button:hover {
    cursor: pointer;
}

/* centering character panel title */
#statBar > h1 {
    display: flex;
    align-self: center;
    margin-left: -1%;
}

/* setting the health bar */
#healthBar {
    display: flex;
    flex-direction: column;
    background-color: red;
    border-radius: 10px;
    width: 15%;
    height: 45%;
}
