/* basic styling */
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    font-size: 18px;
    font-family: serif;
}

h1 {
    font-size: 2em;
}
/* flexboxes the stats, scene, and inv */
.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 75%;
    margin: 0;
}

/* sets the stats container on the left */
#statBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    height: 100%;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

/* sets main scene */
#sceneContainer {
    width: 75%;
    height: 100%;
    display: block;
}

/* sets the inv to the right side of the screen */
#inv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    height: 100%;
    overflow: auto;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

/* creates the action bar at the bottom of the page */
#actions {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    border-top: 1px solid black;
}

/* set a box for items in the inventory */
.item {
    width: 90%;
    min-height: 215px;
    border: .5px solid black;
    border-radius: 10px;
    margin: 15px;
    display: block;
}

/* sets proper alignment and size for name */
.item >h1 {
    font-size: 1.2em;
    text-align: center;
}

/* stores item data */
.item > ul {
    list-style: none;
    margin-left: -25px;
    line-height: 2.2em;
}

/* setting description size */
.item > li {
    display: block;
    width: 100%
    font-size: .8em;
    justify-content: space-between;
}

/*  */
.item > li > span {

}

#actions > button {
    width: 20%;
    height: 50%;
    border-radius: 10px;
    font-size: 1.5em;
}
