/* basic styling */
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    font-size: 18px;
    font-family: serif;
}

h1 {
    font-size: 2em;
}
/* flexboxes the stats, scene, and inv */
.container {
    display: grid;
    width: 100%;
    height: 100%;
    border: .5px solid black;
    grid-gap: 0;
    grid-template-areas:
                "s c i"
                "a a a";
    grid-template-columns: 2fr 7fr 2fr;
    grid-template-rows: 6fr 2fr;
}

/* sets the stats container on the left */
#statBar {
    grid-area: s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

/* sets main scene and image */
#sceneContainer {
    grid-area: c;
    display: block;
    background-color: blue;
    flex-direction: column;
    background-image: url();
    background-size: 100% 100%;
}

/* sets textbox */
#textContainer{
    width: 95%;
    height: 35%;
    display: block;
    /* placeholder textbox */
    background-image:url(./assets/textbackground.png);
    background-size: 100% 100%;
    padding-left: 5%
}

/* sets the inv to the right side of the screen */
#inv {
    grid-area: i;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

/* creates the action bar at the bottom of the page */
#actions {
    grid-area: a;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    border-top: 1px solid black;
}

/* set a box for items in the inventory */
.item {
    width: 90%;
    min-height: 200px;
    border: .5px solid black;
    border-radius: 10px;
    margin: 15px;
    display: block;
}

/* sets proper alignment and size for name */
.item >h1 {
    font-size: 1.2em;
    text-align: center;
}

/* stores item data */
.item > ul {
    display: block;
    list-style: none;
    margin-left: -10%;
    margin-right: 10%;
}

/* setting description size */
.item > ul > li {
    display: flex;
    width: 95%;
    font-size: 1em;
    padding-bottom: 10px;
    justify-content: space-between;
}

/* button styling for action panel */
#actions > button {
    width: 20%;
    height: 50%;
    border-radius: 10px;
    font-size: 1.5em;
}

button:hover {
    cursor: pointer;
}

/* centering character panel title */
#statBar > h1 {
    display: flex;
    align-self: center;
    line-height: .5em;
    margin-bottom: 5px;
}

#statBar > #statContent > h2 {
    font-size: 1.2em;
}

#statBar > img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

#statBar > #healthContainer > #healthBar > span {
    font-weight: bold;
}
#statContent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10px;
}

/* setting the health bar */
#healthBar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: red;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}


#healthContainer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: 5%;
    border: 1px solid black;
    border-radius: 11px;
}

#textContainer > h1 {
    padding: 20px 5px 5px 10px;
}
